<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="batchContextFactory" class="fr.untitled2.raspi.api.impl.SimpleBatchContextFactory"/>

    <bean id="batchletFactory" class="fr.untitled2.raspi.api.impl.SimpleBatchletFactory"/>

    <bean id="kernel" class="fr.untitled2.raspi.api.BatchKernel">
        <property name="batchContextFactory" ref="batchContextFactory"/>
        <property name="batchletFactory" ref="batchletFactory"/>
    </bean>

</beans>